

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}


.circle {
    fill: green;
    width: 100px;
    height: 100px;
}

.circle2 {
    fill: blue;
    width: 100px;
    height: 100px;
}

